/* SECTION 1 ------------------------------ */

#head {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.orange{
    background-color: #F78C20;
    width: 20%;
}

.home{
    font-family: Montserrat;
    transform: translate(-15%, -50%);
    text-transform: uppercase;
    font-size: 36px;
    font-weight: normal;
}

#formulaire {
    display: flex;
    margin-top: 36px;
}

#formLeft {
    width: 50%;
}

#formRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

.formInput {
    width: 80%;
    height: 48px;
    font-family: Montserrat;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 33px;
    border: 1px solid #666666;
    border-radius: 7px;
}

.formText {
    width: 80%;
    height: 254px;
    border: 1px solid #666666;
    border-radius: 7px;
    margin-top: 33px;
    font-family: Montserrat;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 14px;
}

.formSubmit {
    border: 1px solid #000000;
    border-radius: 7px;
    height: 48px;
    width: 80%;
    font-family: Montserrat;
    font-size: 20px;
    text-align: center;
    margin-top: 68px;
    border: 1px solid #666666;
    border-radius: 7px;
    background-color: #ffffff;
    text-transform: uppercase;
    padding-left: 20px;
    box-sizing: content-box;
}

#imgForm {
    width: 80%;
    margin-top: 33px;
}

/* SECTION 2 ------------------------------ */

#partOf {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}

.orange2{
    background-color: #F78C20;
    width: 55%;
}

.home2{
    font-family: Montserrat;
    transform: translate(-5%, -50%);
    text-transform: uppercase;
    font-size: 36px;
    font-weight: normal;
}

#secPartOf {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.personnePart {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.personnePart img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

.personnePart p {
    font-family: Montserrat;
    font-size: 20px;
    margin-top: 45px;
}

/* SECTION 3 ------------------------------ */

#illuFriends {
    margin-top: 150px;
}