* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
   }

#section {
    width: 55%;
    font-size: 20px;
    display: block;
    margin: auto;
}

#section h1{
    font-size: 36px;
}