@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
}

.logo{
    padding-top: 7px;
}

#menu, #FooterMenu {

    text-align: center;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-around;
    border: 2px solid black;
}

#menu li a, #FooterMenu li a {
    font-size: 1.25em;
    font-family: Montserrat;
    text-decoration: none;
}

#menu li a:hover, #FooterMenu li a:hover {
    color: black;
}

#menu{
    height: 5em;
    line-height: 5em;
}