* {
    padding: 0;
    margin: 0;
}

#menu, #FooterMenu {

    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}

#menu li a, #FooterMenu li a {
    font-size: 1.25em;
    text-decoration: none;
}


/* #FooterMenu {

    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}

#FooterMenu li a {
    font-size: 1.25em;
    text-decoration: none;
}
*/